#display-setting input[type="number"] {
  -moz-appearance: textfield;
}
#display-setting input[type="number"]::-webkit-inner-spin-button,
#display-setting input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#display-setting input[type="range"] {
  -webkit-appearance: none;
  height: 1.5rem;
  background-color: transparent;
}

#display-setting input[type="range"]:not(#colorSlider) {
  background-image: linear-gradient(to right, var(--primary) 0%, var(--primary) var(--value-percent), transparent var(--value-percent), transparent 100%);
}

#display-setting #colorSlider {
  background-image: var(--color-selection-bar);
}

#display-setting input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0;
  width: 0;
  background: transparent;
  box-shadow: none;
  border: none;
}

#display-setting input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 0;
  width: 0;
  background: transparent;
  box-shadow: none;
  border: none;
}

#display-setting input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 0;
  width: 0;
  background: transparent;
  box-shadow: none;
  border: none;
}

#display-setting #colorSlider {
  background-image: var(--color-selection-bar);
}

#display-setting #colorSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 0.5rem;
  border-radius: 0.125rem;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: none;
  margin-top: 0;
  transform: none;
}

#display-setting #colorSlider::-webkit-slider-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}

#display-setting #colorSlider::-webkit-slider-thumb:active {
  background: rgba(255, 255, 255, 0.6);
}

#display-setting #colorSlider::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 0.5rem;
  border-radius: 0.125rem;
  border-width: 0;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: none;
  transform: none;
}

#display-setting #colorSlider::-moz-range-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}

#display-setting #colorSlider::-moz-range-thumb:active {
  background: rgba(255, 255, 255, 0.6);
}

#display-setting #colorSlider::-ms-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 0.5rem;
  border-radius: 0.125rem;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: none;
  transform: none;
}

#display-setting #colorSlider::-ms-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}

#display-setting #colorSlider::-ms-thumb:active {
  background: rgba(255, 255, 255, 0.6);
}

#display-setting .toggle-switch {
  appearance: none;
  width: 3rem;
  height: 1.5rem;
  background: var(--btn-regular-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

#display-setting .toggle-switch::after {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
  background: var(--btn-content);
  border-radius: 50%;
}

#display-setting .toggle-switch:checked {
  background: var(--primary);
}

#display-setting .toggle-switch:checked::after {
  transform: translateX(1.5rem);
  background: white;
}