---
interface Props {
	dataType: "friends" | "sponsors";
	class?: string;
}

const { dataType, class: className } = Astro.props;

const linkText =
	dataType === "friends"
		? "https://github.com/afoim/fuwari/tree/main/src/data/friends"
		: "https://github.com/afoim/fuwari/tree/main/src/data/sponsors";

const dataName = dataType === "friends" ? "友链" : "赞助";
---

<div class:list={["text-sm text-white/60", className]}>
    <p>
        如果您已{dataType === 'friends' ? '添加' : '赞助'}，并且想加入{dataName}名单，<a target="_blank" href={linkText} class="transition link text-[var(--primary)] font-medium underline">请点击这里提交 PR</a>
    </p>
    {dataType === 'friends' && (
        <p class="mt-2">
            我们会定期通过 Github Action 运行一个工作流，使用 Github 的 IP 对这里的所有站点做访问性测试，如果不通过测试（如网站无法访问），该条目将被<strong>自动删除</strong>。当您再次做好准备时，欢迎再次提交 PR 申请。访问性测试结果可以<a target="_blank" href="https://github.com/afoim/fuwari/actions/workflows/check-links.yml" class="transition link text-[var(--primary)] font-medium underline">访问此 URL 来得知</a>。
        </p>
    )}
</div>
